<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <section>
        <header>
            <h1>Lgin</h1>
            <a href="/login/">login</a>
        </header>
    </section>

    <section>
        <header>
            <h1>Student</h1>
            <a href="/signup_student/">signup_student</a>
        </header>
    </section>

    <section>
        <header>
            <h1>Teacher</h1>
            <a href="/signup_teacher/">signup_teacher</a>
        </header>
    </section>

    <section>
        <header>
            <h1>Principal</h1>
        </header>
    </section>
</body>
</html>