<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Student</title>
</head>
<body>
    <header>
        <h1>Signup form for Students</h1>
    </header>
    <main>
        <form action="/signup_student_post/" method="POST">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter name" required>

            <label for="class">Class</label>
            <input type="number" name="clas" id="clas" placeholder="Enter Class" required>

            <label for="rollnumber">Roll Number</label>
            <input type="number" name="rollnumber" id="rollnumber" placeholder="Enter Roll No" required>

            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" id="dob" placeholder="Enter Date of Birth" required>

            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter Username" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>

            <button>Submit</button>
        </form>
    </main>
</body>
</html>